nav {
  border-bottom: 1px solid #212121;
  padding: 20px;
  background-color: #b5acac;
  align-items: center;
  text-align: center;
}

nav a {
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  align-items: center;
  background-color: rgb(209, 206, 206);
}

body {
  font-family: sans-serif;
  margin: 0;
  max-width: 100%;
  background-color: #212121;
}

.lastResult {
  color: white;
  padding: 7px;
}

.guesses {
  color: white;
  padding: 7px;
}

button {
  background-color: #141414;
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
}

#subt {
  background-image: linear-gradient(
    to right top,
    #100f10,
    #462234,
    #863043,
    #c1493a,
    #e9760e
  );
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 50px;
}

#guessField {
  color: #000;
  width: 250px;
  height: 50px;
  font-size: 30px;
  margin-top: 25px;
  border: 5px solid #cb4d18;
  border-radius: 10px;
  text-align: center;
}

#guess {
  font-size: 55px;
  margin-top: 120px;
  color: #fff;
}

.guesses {
  background-image: linear-gradient(
    to right top,
    #ce333d,
    #d84435,
    #e1552c,
    #e76721,
    #eb7912
  );
}

#wrapper {
  text-align: center;
  height: 670px;
  background-image: linear-gradient(
    to right top,
    #ce333d,
    #d84435,
    #e1552c,
    #e76721,
    #eb7912
  );
  color: #fff;
  font-size: 25px;
}

h1 {
  margin-top: auto;
  background-image: linear-gradient(
    to right top,
    #100f10,
    #462234,
    #863043,
    #c1493a,
    #e9760e
  );
  color: #e7d6d6;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}
